$rem-base: 40px;

$body-bg: #fff;
$body-font-color: #5F6A6F;
$body-font-family: 'Hiragino Sans GB', 'Microsoft Yahei', Arial, Helvetica, sans-serif;
$body-font-weight: 100;
$body-font-style: normal;

$main-color: #FCB8D5;
$text-color: #5f6a6f;
$default-color: #D0D2D3;
$shadow-color: #EE87AE;
$unactive-color: #E2CDD7;
$invert-color: #E2CDD7;
$textarea-bg: #DFD9E4;




